@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<div class="text-center">
    <h1 class="display-4">Transflower Store</h1>
    <hr/>
    <h3>Contact </h3>
    <p>Email: giri.gupta@transdflower.in</p>
    <p>Contact Number: 8765643738</p>
    <p>101, dev Apartment, maha Nagar, gkp Siswa Road</p>
</div>
